.oneliner {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.displayflex {
  display: flex;
  flex-direction: column;
}
.flex1 {
  height: calc(100vh - 140px);
}
.flexBottom{
  display: flex;
  justify-content: space-around;
}
